@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-medio: #96c2db;
  --color-light: #e5edf1;
  --color-textgray: #5c5c5d;
  --color-azulado: #489eb1;
}
